<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="with=device-width" , initial-scale="1.0">
    <title>E-LOOM</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="preconnect" href="http://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="header">
        <nav id="navbar">
            <a href="index.html"><img src="/IMAGES/download.png" decoding="async"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://localhost:4000/home">HOME</a></li>
                    <li><a href="http://localhost:4000/home/about">ABOUT</a></li>
                    <li><a href="http://localhost:4000/home/contact">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Pakistan's Biggest Textile Industry</h1>
            <p>Redefining the Art of Textile</p>
            <a href="http://localhost:4000/home/signin" class="hero-btn">Sign In</a>
        </div>
    </section>


    <!--course-->


    <section class="course">
        <h1>Services We Offer</h1>
        <p>Our Industry Group manages and controls all stages of the production process, ensuring efficiency and absolute quality.</p>

        <div class="row">
            <div class="course-col">
                <h3>Spinning</h3>
                <p class="p1"> Spinning allows the transformation of a mass of disordered fibres (staple) into a unit of great length (yarn).The spinning processes are many and vary according to the characteristics of the fibres and to yarns to obtain. The objective
                    is to create a high-quality yarn, smooth, durable with minimum hairiness.</p>
            </div>

            <div class="course-col">
                <h3>Dyeing Yarn</h3>
                <p class="p1"> Dyeing is the process of transforming greige (natural) yarn into coloured yarn through the use of colour substances.The factors to be considered to obtain a perfect dyeing uniformity are, the penetration of the dye and stability. It is
                    essential that the fabric retains the original colour even after repeated washings.</p>
            </div>

            <div class="course-col">
                <h3>Weaving</h3>
                <p class="p1">Following spinning and dyeing, the weaving process enables the yarn to intersect together to become fabrics. When the weft yarn crosses the warp yarn the fabric is created, a synthesis between the quality of the raw material, the creativity
                    of the design, the structure and the experience of the weaver.</p>
            </div>
        </div>
    </section>

    <!--campus-->

    <section class="campus">
        <h1>Our Local Branches</h1>
        <p>We are Currently working in Three Big Cities of Pakistan</p>

        <div class="row">
            <div class="campus-col">
                <img src="IMAGES/london.png" decoding="async">
                <div class="layer">
                    <h3>LAHORE</h3>
                </div>
            </div>

            <div class="campus-col">
                <img src="IMAGES/newyork.png" decoding="async">
                <div class="layer">
                    <h3>ISLAMABAD</h3>
                </div>
            </div>

            <div class="campus-col">
                <img src="IMAGES/washington.png" decoding="async">
                <div class="layer">
                    <h3>KARACHI</h3>
                </div>
            </div>
        </div>
    </section>


    <!-- Facilities-->

    <section class="facilities">
        <h1>Our Industry</h1>
        <p>Main divisions of Our Industry</p>
        <div class="row">
            <div class="facilities-col">
                <img src="IMAGES/download3.jpg" decoding="async">
                <h3>World Class Machinery</h3>
                <p>All our machines are the latest available in the market, and whenever required, mTm export has never shied away from purchasing the most modern equipments. All our divisions are equipped with the latest equipments to maintain the high
                    quality standards that we have set for ourselves.</p>
            </div>

            <div class="facilities-col facilities-col-1">
                <img src="IMAGES/download4.jpg" decoding="async">
                <h3>largest Factory of Textile</h3>
                <p>To produce quality goods, and that too on time, you need a good production facility, capable of taking on any challenge thrown at you. In this regard, mTm Exports possesses the best infrastructure that has the ability and potential to
                    give you quality products. Our manufacturing process has been vertically integrated to facilitate all the processes involved in garment manufacturing under one roof. This enables us to reduce the time spent in completing your orders.</p>
            </div>

            <div class="facilities-col facilities-col-2">
                <img src="IMAGES/download5.jpg" decoding="async">
                <h3>Biggest Dyeing in Pakistan</h3>
                <p>Our in-house and very well-equipped Dyeing department with a production capacity of around 1,16,295 Kg of dyeing / day allows us to fully meet our dyeing requirements. We have dyeing machines for dyeing cotton fabric and a fully computerized
                    high temperature jet-dyeing machine to dye all kinds of synthetic fabrics including polyester. A well equipped laboratory ensures all dyed fabric is properly checked, as per buyer’s requirements, for factors such as shrinkage, color
                    fastness, etc</p>
            </div>
        </div>
    </section>


    <!-----testimonials---->

    <section class="testimonial">
        <h1>What Our Employees Says</h1>
        <p>Positive and negative feedback is important because it helps break bad habits, reinforces positive behavior, and enables teams to work more effectively toward their goals</p>

        <div class="row">
            <div class="testimonial-col">
                <img src="IMAGES/user1.jpg" decoding="async">
                <div>
                    <p class="p1">"I feel more at home, more comfortable, more in control and more supported than I ever have before."</p>
                    <h3>Ayesha Qamar</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>

            <div class="testimonial-col">
                <img src="IMAGES/user2.jpg" decoding="async">
                <div>
                    <p class="p1">"I have been here about a year now, and I have not heard any grumbling about management or the company or even the co-workers. I love it!"</p>
                    <h3>Danial Aslam</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>
        </div>
    </section>

    <!--Call to Action-->

    <section class="cta">
        <h1>Join Our Industry<br> Anywhere From Pakistan</h1>
        <a href="contact.html" class="hero-btn">CONTACT US</a>
    </section>

    <!--Footer-->

    <section class="footer">
        <h4>About Us</h4>
        <p>You can also Contact Us and<br>See Us on our Social Media Paltforms</p>
        <div class="icons">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/login" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
        <p>Developed by Rai Hassan</p>
    </section>

    <!--Javascript for toggle menu-->

    <script>
        var navLinks = document.getElementById('navLinks');

        function showMenu() {
            navLinks.style.right = '0';
        }

        function hideMenu() {
            navLinks.style.right = '-200px'
        }
    </script>
</body>

</html>